# Where things are
source:       .
destination:  ./_site
plugins:      ./_plugins
layouts:      ./_layouts
paginate:     2
paginate_path: "record/page:num/"

# Handling Reading
safe:         false
#include:      [".htaccess"]
#exclude:      []
keep_files:   [".git", ".svn"]
encoding:     "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"
textile_ext:  "textile"

# Build settings
markdown: kramdown

# Site settings 站点基础配置
title: WuBin-武斌
subTitle: Just another Jekyll blog.
description: 这是WuBin的个人主页，它是基于 Jekyll 搭建起来的。在这里，不仅仅是用来快速记录工作，学习，生活的一点一滴的地方，更是WuBin对 Jekyll 的学习和使用的一次有意义的实践。
url: http://wbtxd2004.github.io
#feed: /atom.xml
email: wbtxd2004@gmail.com
githubpage: https://github.com/wbtxd2004
baseurl: "" # the subpath of your site, e.g. /blog/
github_username:  wbtxd2004
timezone: 'Asia/Shanghai'


#菜单配置
nav:
  - text: 首页
    url: /index.html
  - text: 文章列表
    url: /record.html
  - text: 关于
    url: /about
  #- text: 联系我
  #  url: http://www.zhanxin.info/contact.html
  #- text: 博客源代码
  #  url: https://github.com/pizn/pizn.github.com


#style config
style: /style


